@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");




* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    text-decoration: none;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../images/JS1l.gif')no-repeat;
    background-position: center;
    background-size: cover;
}


.form-box {
    position: relative;
    width: 600px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.489);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}


.forget {
    font-size: .9em;
    color: #fff;
    display: flex;
    position: relative;
    top: 110px;
    left: 185px;
}


.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}


form img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: #131e30;
    position: relative;
    margin-top: 30px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.botao {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 29px;
    border: 2px solid black;
    font-size: 15px;
    padding: 10px 45px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    width: 75%;
    height: 50px;
    position: relative;
    top: 100px;
}

.botao:hover {
    background-color: #46cee9;
    color: #ffffff;
    border-color: #ffffff;
    transition: 0.3s;
}


.logo{
    text-align: center;
}

.logo img{
    height: 80px;
    position: relative;
    bottom: 440px;
    text-align: center;
}


  
  input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
    position: relative;
    top: 70px;
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #131e30;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #131e40;
  }

  #user{
    height: 150px;
    width: 150px;
    position: relative;
    left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;

  }


  @media (max-width: 360px) {
    section{
        background: url('../assets/img/bgcadResponsivo.png')no-repeat;
    }
 }